.container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: 1350px auto auto;
  grid-template-rows: 600px auto auto;
  background-color: rgb(170, 0, 0);
  padding: 50px;
  gap: 50px;
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

h1 {
	text-align: center;
}