.container {
  display: flex;
   flex-wrap: wrap;
  flex-direction: row;
  background-color: blue;
}

.container div {
  background-color: yellow;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}