.container {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.container div {
  background-color: yellow;
  width: 100px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}