body {
    background-image: url"https://lh3.googleusercontent.com/gg/AIJ2gl_Y05d2lwKC-KdrhJf8U-KAUr3FcTbMowmIcozkrQO39ODRZhS9OHx-Kac8m_Qoqyc94vABDp-FhQvLdZbqgOXAptBYjLrwZvdmxyHeyyuPQuFrW23J-A7eU2K-wwkJuaRkYAvasUAwTe2QOpEdAx1neYNwC9TxbCOftSXsxbK4rqHKCjGayH6Egp5TqcDmuNn42ZfllQbrLUsTg_iF6AiJLDoI7LwBRj-iyWC6ucF80_eC_27W4ilu1WxAXNseMfG11zvtH2hzZ-y_-CkN0qnt3SKQWChhtg=d";
     background-size: cover; 
}

h1 {
    color: navy;
    margin-left: 20px;
}