body {
    background-color: gray ;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.image {
    flex: 1;
}

.image img {
    width: 650px;
    height: 750px;
}

/* RIGHT SIDE */
.texts {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

/* TEXT STYLE */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 1.6;
}
