body {
    background-image: url("https://img.freepik.com/premium-photo/glowing-shimmering-stars-space-abstract-background_250994-1378.jpg?semt=ais_hybrid&w=740&q=80");
     background-size: cover; 
     background-attachment: fixed;
}

h1 {
    color: rgb(94, 94, 255);
    text-align: right;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}