body {
    background-image: url("https://img.freepik.com/premium-photo/glowing-shimmering-stars-space-abstract-background_250994-1378.jpg?semt=ais_hybrid&w=740&q=80");
     background-size: cover; 
     background-attachment: fixed;
}

.container {
    display: flex;
}

.image { 
    flex: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texts {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}