.profile img {
  width: 250px;
  border-radius: 10px;
}

.card {
  background: linear-gradient(135deg, #2d2d66, #3a3a8f);
  color: white; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  margin: 15px auto;
  max-width: 900px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card h2 {
  color: #ffffff;
}


.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.navbar {
  background: linear-gradient(90deg, #2d2d66, #3a3a8f);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: white;
  font-size: 26px;
}

.subtitle {
  text-align: center;
  margin: 20px 0;
  font-weight: normal;
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile img {
  width: 250px;
  border-radius: 10%;
  object-fit: cover;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark .navbar {
  background-color: #000;
}

body.dark .card {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark h2 {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

#themeToggle {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

#themeToggle:hover {
  background-color: white;
  color: #1e1e2f;
}
